@model Feirum.Models.Orders

@{
    ViewData["Title"] = "Apagar compra";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Tem a certeza que deseja eliminar?</h2>
<h4>Registo de compra</h4>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Id do comprador
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BuyerId)
        </dd>
        <dt class="col-sm-2">
            Id do Produto
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductId)
        </dd>
        <dt class="col-sm-2">
            Quantidade
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class="col-sm-2">
            Preço
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TotalPrice)€
        </dd>
        <dt class="col-sm-2">
            Data da compra
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar</a>
    </form>
</div>
