@model IEnumerable<Feirum.Models.Products>

@{
    ViewData["Title"] = "Produtos da feira";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-flex flex-row justify-content-between">
    <div class="p-2 d-flex flex-row">
        <h1 class="text-center" style="">@ViewBag.fairName</h1>

         @if(ViewBag.isFavorite == false)
            {
            <a class="text-secondary" asp-controller="FavoriteFairs" asp-action="Create" asp-route-UserId="@ViewBag.UserId" asp-route-FairId=@ViewBag.FairId>
                      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                    </svg>
                 </a>
           
            } else {
                 <a class="text-warning" asp-controller="FavoriteFairs" asp-action="Delete" asp-route-userId="@ViewBag.userId" asp-route-FairId=@ViewBag.fairId>
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                    </svg>
                 </a>
            }
       
    </div>
    <a asp-controller="Categories" asp-action="Index" asp-route-categoryId="@ViewBag.categoryId" class="btn btn-light btn-lg p-2">Sair <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-left" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0v2z"/>
    <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"/>
</svg></a>
</div>

<hr></hr>

<div class="d-flex flex-row">
    @foreach (var product in Model)
        {
            <div class="card p-2" style="width: 18rem;">
            <img class="card-img-top" src=@product.Image alt="Shopping cart">
                <div class="card-body">
                <h5 class="card-title"> @Html.DisplayFor(modelItem => product.Description)</h5>
                <h5> @Html.DisplayFor(modelItem => product.UnitPrice)€</h5>
                <p> Stock: @Html.DisplayFor(modelItem => product.Quantity)</p>
                <a asp-controller="Orders" asp-action="Create" asp-route-productId="@product.Id" class="btn btn-outline-secondary btn-sm">Comprar</a>
                </div>
            </div>
        }
</div>